@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #153c85;
  --secondary-color: #cbb26a;
  --white-color: #f0f8ff;
  --black-color: #010912;
  --primary-font-size: clamp(0.8125rem, 1.6vw, 1rem);
  --secondary-size: clamp(1.9375rem, 3.9vw, 3.0625rem);
  --body-font-size: 1rem;
  --primary-shadow-color: 0 4px 6px #153c85;
  --secondary-shadow-color: 0 4px 6px #cbb26a;
  --white-shadow-color: 0 4px 6px rgba(236, 236, 236, 0.5);
  --black-shadow-color: 0 4px 6px rgba(7, 7, 7, 0.5);
}

/* hide scroll bar */
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #153c85;
  width: 2px;
}

::-webkit-scrollbar {
  width: 2px;
}

/* BlockNote Styles */
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.item {
  border-radius: 0.5rem;
  flex: 1;
  overflow: hidden;
}

.item.bordered {
  border: 1px solid gray;
}

.item pre {
  border-radius: 0.5rem;
  height: 100%;
  overflow: auto;
  padding-block: 1rem;
  padding-inline: 54px;
  width: 100%;
  white-space: pre-wrap;
}